.login-page {
  background-color: rgb(252 231 243);
  height: 90vh;
  width: 100vw;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5rem;
}

.login-page h1 {
  padding-bottom: 3rem;
  font-size: 3rem;
}

.login-pack {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45rem;
  height: 40rem;
  box-shadow: 2px 3.4px 2px 3.4px #777;
  border-radius: 5px;
}


.login-page form {
  display: block;
}

.login-page input {
  width: 35rem;
  height: 5rem;
  margin-left: 1rem;
  margin-top: 3rem;
  border-radius: 1rem;
}

.rese {
  background-color: maroon;
  width: 16rem;
  color: white;
  height: 4.2rem;
  padding: 0.7rem;
  margin-top: 2rem;
  border: none;
  border-radius: 1rem;
  font-family: monterrate;
  letter-spacing: 2px;
  font-weight: 200;
}

.rese:hover {
  background-color: rgb(190 18 60);
  border: 2px solid maroon;
  color: black;
}

.login-page h2 {
  margin-top: 3rem;
}

.login-page .login-icons {
  width: 20rem;
  height: 10rem;
  color: rgb(51 65 85);
}

.login-page .lo {
  background-color: maroon;
  width: 10rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-family: Poppins;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 200;
  margin-top: 2rem;
  cursor: pointer;
}

.login-page a {
  text-decoration: underline;
}

.lo:hover {
  background-color: rgb(190 18 60);
  border: 2px solid maroon;
  color: black;
}

@media screen and (max-width:769px) {
  .login-page {
    width: auto;
    height: auto;
    padding-top: 3rem;
  }

  .login-pack {
    background-color: #ffffff;
    padding: 2rem 5rem;
    width: auto;
    height: auto;
    box-shadow: 2px 3.4px 2px 3.4px #777;
    border-radius: 5px;
  }

  .login-page input {
    width: 24rem;
    height: 4rem;
    margin-left: 1rem;
    margin-top: 3rem;
    border-radius: 1rem;
  }

  .login-page h1 {
    padding-bottom: 2rem;
    font-size: auto;
  }

  .login-page .lo {
    background-color: maroon;
    width: 10rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-family: Poppins;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 200;
    margin-top: 2rem;
    cursor: pointer;
  }
}